body {
    font-family: arial,sans-serif;
    margin: 5% 5% 5% 5%;
    text-align: justify;
    counter-reset: footnote-counter;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    page-break-after: avoid;
}

h2 {
    page-break-before: always;
    padding-top: 1em;
}
h2.subtitle {
    page-break-before: avoid;
}
p {
    margin-top: 0.75em;
    text-align: justify;
    text-indent: 2em;
    margin-bottom: 0.75em;
}

header {
    page-break-after: avoid;
}
.poem-title {
    margin-bottom: 0;
}
.poem-subtitle {
    margin-top: 0;
}
.poem-author {
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;
    text-indent: 0;
}
.poem-date {
    text-align: right;
    font-size: smaller;
    margin-top: 0;
    margin-bottom: 0;
    text-indent: 0;
}
aside:before {
    counter-increment: footnote-counter;
    content: "[" counter(footnote-counter) "] ";
}
aside {
    margin-top: 0em;
    margin-bottom: 0.75em;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    font-size: smaller;
    display: list-item;
    list-style: none;
}
.center {
    text-align: center;
}
.poem {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    text-indent: 0;
}
.title {
    text-indent: 0.5em;
    letter-spacing: 0.5em;
}
.subtitle {
    page-break-before: avoid;
    padding-top: 0;
    padding-bottom: 1em;
    text-indent: 0;
}
.signature {
    float: right;
    text-align: right;
}
.signature-date {
    clear: right;
    float: right;
    text-align: right;
    font-size: smaller;
}

#title-page h4.publisher {
    float: bottom;
    margin-top: 0;
    margin-bottom: 0;
}
#title-page h5.publisher-date {
    float: bottom;
}
#title-page div.logo {
    height: 40vh;
}

body.fixed, img.full, img.cover {
    margin: 0;
    padding: 0;
    top: 0px;
    left: 0px;
}
body.fixed {
    adobe-page-master: fullpage;
}
img.cover {
    height: 100vh;
}
img.full {
    width: 100%;
}
